.home-container{
    background-color: rgb(29, 29, 29);
    display: flex;
    margin-top: 16%;
    padding: 0px 140px;
    justify-content: space-between;
}

.hero-image img{
    width: 200px;
    height: auto;
    border: 4px solid var(--secondary);
    position: relative;
    
}
.hero-container{
    width: 36%;
}
.hero-description{
    line-height: 29px;
    text-align: center;
    width: 60%;
}
.hero-description h1{
    font-size: 29px;
    color: var(--navLink);
    text-transform: uppercase;
    
}
.hero-description h2{
    margin-top: -10px;
    text-transform: uppercase;
}

button {
    
    line-height: 1.4;
    border-radius: 35px;
    
    text-align: center;
    cursor: pointer;
    
   
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none !important;
    
    padding:16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    outline: none !important;
    cursor: pointer !important;
  }

  button:hover{
      background-color: var(--navLink);
      color: var(--secondary);
  }

/* for tablets */
@media (max-width: 912px) {
    .home-container{
        background-color: rgb(29, 29, 29);
        padding: 20px 0px;
    }
    
    .hero-image img{
        max-width: 200px;
        height: auto;
        border-radius: 50%;
        border: 4px solid var(--secondary);
        position: relative;
        top: 50%;
        left: 50%;
        margin-left: -115px;
        margin-top: 50px;
    }
    .hero-description{
        line-height: 29px;
        text-align: center;
        margin-right: 50px;
    }
    .hero-description h1{
        font-size: 29px;
        color: var(--navLink);
        text-transform: uppercase;
        
    }
    .hero-description h2{
        margin-top: -10px;
        text-transform: uppercase;
    }
    
    button {
        
        line-height: 1.4;
        border-radius: 35px;
        
        text-align: center;
        cursor: pointer;
        
       
        transition: all .25s ease-in-out;
        text-transform: uppercase;
        text-decoration: none !important;
        
        padding:16px 35px;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        background-color: transparent;
        outline: none !important;
        cursor: pointer !important;
      }
    
      button:hover{
          background-color: var(--navLink);
          color: var(--secondary);
      }
}
/* for mobiles */
@media (max-width: 412px) {
    .home-container{
        display: block;
        margin-top: 0;
        width: 100%;
        text-align: center;
    }
    .home-container .hero-description{
        width: 90%;
        margin: 10px auto;   
    }
    .home-container .hero-container{
        width: 100%;
    }
    .home-container .hero-container .hero-image img{
        top: unset;
        left: unset;
        margin-left: 0;
    }
}